.home{
  text-align: center;
  padding: 20px;
}

/* .welcome{
  display: inline-block;
}

.motto{
  display: inline-block;
} */

.dd-button{
  text-align: center;
  padding-top: 255px;
}
.page-container{
  text-align: center;
  padding: 100px, 100px, 100px, 100px;
}
